{% extends 'base.html' %}
{% load static %}

{% block content %}
<a href = "{%url 'glasses_order_url' data.GlassesOrder_id%}" >
    <div class = Glasses_Order_div>
    {%if data.GlassesOrderCount > 0 %}
    <img class = "imagebusket" src= 'http://localhost:9000/glassesimgs/full_basket.jpeg'>
        <div class="basket_count">{{data.GlassesOrderCount}}</div>
    {%else%}
    <img class = "imagebusket" src= 'http://localhost:9000/glassesimgs/empty_basket.jpeg'>
    {%endif%}
</div>
</a>
<form action = "{%url 'main_url'%}" method = get>
    <input name = "search_lens" type = "text" class = SearchLens value="{{ search_lns }}" placeholder = "Поиск по сайту" autocomplete="off"></input>
</form>

<ul class = "lens_list">
    {% for lens in data.Lenses %}
            <a class = "lens_link" href="{% url 'lens_url' lens.id %}">
                <div class = divlens>
                    <img class = "lens_card_img" src = "{{lens.image}}" >
                    <div class = "lens_card_title"> {{lens.name}}</div> 
                    <div class = "lens_card_price"> {{lens.price}}</div> 
                </div>
            </a> 
    {% empty %}
        <li>Список пуст</li>
    {% endfor %}
</ul>

{% endblock %}